# Ignore environment variable files
**/.env
**/venv/

# Ignore __pycache__ directories
**/__pycache__/

# Ignore possible log files in case the are created
**/*.log

# Ignore possible log files in case the are created
**/logs/*
!logs/.gitkeep  # Ensure the logs directory itself is tracked

# Ignore possible Airflow plugins files in case the are created
**/plugins/*
!plugins/.gitkeep  # Ensure the plugins directory itself is tracked